/*Hjælp til at implementere nye fonts fra youtube linket https://www.youtube.com/watch?v=Hwq_Mr12bcI*/
@font-face{
  src: url(fonts/Didot\ Regular.ttf); 
  font-family: didot;
}
*{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: didot;
}
/*Root og var() lavet med hjælp fra W3schools https://www.w3schools.com/css/css3_variables.asp*/
:root{
    --dark: #a2a9a6;
    --hover: #c1978f;
    --pink: #d4a59d;
    --darkbeige: #d6ccc5;
    --beige: #ede6e2;
    --white: #f5f5f5;
}
/*Alt styles til mobile first og derefter desktop*/
.navbar{
    overflow: hidden;
    background-color: var(--beige);
    padding: 20px 10px;
}
.navbar a{
    float: none;
    display: block;
    text-align: left;
    color: rgb(07, 07, 07);
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    background-color: var(--beige);
}
.navbar a.logo{
    font-size: 25px;
    font-weight: bold;
}
.navbar a:hover{
    background-color: var(--darkbeige);
    color: rgb(07, 07, 07);
}
.navbar a:active{
    background-color: var(--darkbeige);
    color: rgb(07, 07, 07);
}
.links{
    float: none;
}
/* Forside billedet styles her*/
.bigimage img{
    max-width: 100%;
}
.desktop-picture{
    display: none;
}
/* Tekst under billedet styles her*/
.bigimage h1{
    text-align: center;
    margin-top: 1em;
    font-size: 1.2em;
    font-family: didot;
    text-transform: uppercase;
}
.bigimage h3{
    text-align: center;
    margin-top: 1em;
    font-size: 1.2em;
    color: var(--dark);
    font-style: italic;
}
.bigimage p{
    text-align: center;
    margin-top: 1em;
}
/* Vandret linje som lukker første sektion styles her */
.bigimage hr{
    color: rgb(7, 7, 7);
    margin-top: 1rem;
    margin-bottom: 2em;
}
/*Her styles de tre sektioner til forsiden*/
/*Først bliver de sat op i et grid*/
.three-sections{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas: 
    "work"
    "worktxt"
    "work-a"
    "book"
    "booktxt"
    "book-a"
    "team"
    "teamtxt"
    "team-a"; 
}
/*Herefter bliver de stylet hver især og tildelt område*/
.work{
    grid-area: work;
}
.work img{
    max-width: 100%;
}
.worktxt{
    grid-area: worktxt;
}
.work-a{
    grid-area: work-a;
}
.book{
    grid-area: book;
}
.book img{
    max-width: 100%;
}
.booktxt{
    grid-area: booktxt;
}
.book-a{
    grid-area: book-a;
}
.team{
    grid-area: team;
}
.team img{
    max-width: 100%;
}
.teamtxt{
    grid-area: teamtxt;
}
.team-a{
    grid-area: team-a;
}
/*Styling af howto sektionen*/
.howto h1{
    background-color: var(--beige);
    text-align: center;
    padding: 1rem;
}
.howto h3{
    background-color: var(--beige);
    text-align: center;
    font-family: helvetica;
    font-weight:300;
}
.howto p{
    background-color: var(--beige);
    text-align: center;
    padding: 1rem;
}
.gallery-titel{
    text-align: center;
    padding: 1.8em;
    font-size: 1em;
    font-family: didot;
    text-transform: uppercase;
}
/* Her starter styling af grid*/
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas: 
    "firstimg secondimg"
    "firstimg thirdimg";
}
.firstimg{
    grid-area: firstimg;
}
.firstimg img{
    max-width: 100%;
}
.secondimg{
    grid-area: secondimg;
}
.secondimg img{
    max-width: 100%;
}
.thirdimg{
    grid-area: thirdimg;
}
.thirdimg img{
    max-width: 100%;
}
.bw-first img{
    display: none;
}
.bw-second img{
    display: none;
}
/*Styling af review sektionen*/
.reviews h2{
    text-align: center;
    margin-top: 1.5em;
    font-size: 1.3em;
    font-family: didot;
    text-transform: uppercase;
}
.reviews p{
    text-align: center;
    margin-top: 1.5em;
    font-style: italic;
}
.reviews h4{
    text-align: center;
    margin-top: 1.5em;
    padding-bottom: 2em;
}
.reviews hr{
    margin-bottom: 1.5rem;
}
/*Styling af footer i grid*/
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas: 
    "contact connect"
    "text facebook"
    "... instagram"
    "... email";
}
/*Her tildeles alle områder i footeren et område*/
.contact{
    grid-area: contact;
    margin-left: 5.5em;
}
.text{
    grid-area: text;
    margin-top: 1em;
}
.connect{
    grid-area: connect;
    margin-left: 5.5rem;
}
.facebook{
    grid-area: facebook;
    margin-top: 1em;
}
.facebook a{
    text-decoration: none;
    color: rgb(07, 07, 07);
}
.instagram{
    grid-area: instagram;
}
.instagram a{
    text-decoration: none;
    color: rgb(07, 07, 07);
}
.email{
    grid-area: email;
}
.email a{
    text-decoration: none;
    color: rgb(07, 07, 07);
}
@media only screen and (min-width: 660px){  
/*Her styles navbar til desktop*/
.navbar a{
float: left;
}
.links{
    float: right;
    margin-right: 2em;
}
/*Grid til forside billedet og tekst*/
.bigimage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas: 
    "bigimage desktop-picture"
    "bigimg-text bigimg-text";
}
.bigimage{
    grid-area: bigimage;
    padding: 1rem;
}
.desktop-picture{
    display: block;
    grid-area: desktop-picture;
}
.bigimg-text{
    grid-area: bigimg-text;
}
/*Her styles howto sektionen i et grid*/
.howto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas: 
    "firstguide secondguide thirdguide fourthguide";
}
/*Her styles galleriet*/
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "firstimg secondimg bw-first"
    "firstimg thirdimg bw-second";
}
.firstimg img{
    grid-area: firstimg;
}
.secondimg img{
    grid-area: secondimg;
}
.thirdimg img{
    grid-area: thirdimg;
}
.bw-first img {
    grid-area: hidden-img;
    max-width: 100%;
    display: block;
}
.bw-second img {
    grid-area: hidden-img;
    max-width: 100%;
    display: block;
}
/*Her tildeles områderne i grid*/
.firstguide{
    grid-area: firstguide;
}
.secondguide{
    grid-area: secondguide;
}
.thirdguide{
        grid-area: thirdguide;
}
.fourthguide{
    grid-area: fourthguide;
}
}