/*Hjælp til at implementere nye fonts fra youtube linket https://www.youtube.com/watch?v=Hwq_Mr12bcI*/
@font-face{
  src: url(fonts/Didot\ Regular.ttf); 
  font-family: didot;
}
*{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: didot;
}
/*Root og var() lavet med hjælp fra W3schools https://www.w3schools.com/css/css3_variables.asp*/
:root{
    --dark: #a2a9a6;
    --hover: #c1978f;
    --pink: #d4a59d;
    --darkbeige: #d6ccc5;
    --beige: #ede6e2;
    --white: #f5f5f5;
}
/*Alt styles til mobile first og derefter desktop*/
.navbar{
    overflow: hidden;
    background-color: var(--beige);
    padding: 20px 10px;
}
.navbar a{
    float: none;
    display: block;
    text-align: left;
    color: rgb(07, 07, 07);
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    background-color: var(--beige);
}
.navbar a.logo{
    font-size: 25px;
    font-weight: bold;
}
.navbar a:hover{
    background-color: var(--darkbeige);
    color: rgb(07, 07, 07);
}
.navbar a:active{
    background-color: var(--darkbeige);
    color: rgb(07, 07, 07);
}
.links{
    float: none;
}
/* Forside billedet styles her*/
.bigimage img{
    max-width: 100%;
}
.desktop-picture{
    display: none;
}
/* Tekst under billedet styles her*/
.bigimage h1{
    text-align: center;
    margin-top: 1em;
    font-size: 1.2em;
    font-family: didot;
    text-transform: uppercase;
}
.bigimage h3{
    text-align: center;
    margin-top: 1em;
    font-size: 1.2em;
    color: var(--dark);
    font-style: italic;
}
.bigimage p{
    text-align: center;
    margin-top: 1em;
}
/* Vandret linje som lukker første sektion styles her */
.bigimage hr{
    color: rgb(7, 7, 7);
    margin-top: 1rem;
    margin-bottom: 2em;
}
/* Her starter styling af "latest work" sektionen*/
.work img{
    max-width: 100%;
}
.work h1{
    text-align: center;
    margin-top: 1em;
    font-size: 1.2em;
    font-family: didot;
    text-transform: uppercase;
}
.work p{
    text-align: center;
    margin-top: 1em;
}
/*Her starter styling af knap til work*/
.work .clickme{
    margin-top: 1.8rem;
    margin-bottom: 2rem;
    text-align: center;
}
.work a{
    text-decoration: none;
    padding: 0.3em 2.5em;
    color: var(--white);
    background-color: var(--pink);
    text-transform: uppercase;
}
/* Stylet a href med hjælp fra link https://css-tricks.com/css-basics-styling-links-like-boss/*/
.work a:hover{
    background-color: var(--hover);
}
/*Her starter stylingen af den næste sektion "book a shoot"*/
.shoot img{
    max-width: 100%;
}
.shoot h1{
    text-align: center;
    margin-top: 1em;
    font-size: 1.2em;
    font-family: didot;
    text-transform: uppercase;
}
.shoot p{
    text-align: center;
    margin-top: 1em;
}
/*Styling af knap til book a shoot*/
.shoot .book{
    text-align: center;
    margin-top: 1.8rem;
    margin-bottom: 2rem;
}
.shoot a{
    text-decoration: none;
    padding: 0.3em 2.5em;
    color: var(--white);
    background-color: var(--pink);
    text-transform: uppercase;
}
.shoot a:hover{
    background-color: var(--hover);
}
/*Styling af howto sektionen*/
.howto h1{
    background-color: var(--beige);
    text-align: center;
    padding: 1rem;
}
.howto h3{
    background-color: var(--beige);
    text-align: center;
    font-family: helvetica;
    font-weight:300;
}
.howto p{
    background-color: var(--beige);
    text-align: center;
    padding: 1rem;
}
.gallery-titel{
    text-align: center;
    padding: 1.8em;
    font-size: 1em;
    font-family: didot;
    text-transform: uppercase;
}
/* Her starter styling af grid*/
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas: 
    "firstimg secondimg"
    "firstimg thirdimg";
}
.firstimg{
    grid-area: firstimg;
}
.firstimg img{
    max-width: 100%;
}
.secondimg{
    grid-area: secondimg;
}
.secondimg img{
    max-width: 100%;
}
.thirdimg{
    grid-area: thirdimg;
}
.thirdimg img{
    max-width: 100%;
}
.bw-first img{
    display: none;
}
.bw-second img{
    display: none;
}
/*Styling af team sektionen*/
.team{
    background-color: var(--beige);
    padding: 2rem;
    margin-top: 1rem;
}
.team h2{
    text-align: center;
    background-color: var(--beige);
    margin-bottom: 0.8em;
    font-size: 1.3em;
    font-family: didot;
    text-transform: uppercase;
}
.team img{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
/* Hjælp til centrering af billedet fra https://www.w3schools.com/howto/howto_css_image_center.asp*/
}
.team-click{
    text-align: center;
    margin-top: 1.8rem;
    margin-bottom: 2rem;
}
.team-click hr{
    margin-top: 2rem;
}
.team-click a{
    text-decoration: none;
    padding: 0.3em 2.5em;
    color: var(--white);
    background-color: var(--pink);
    text-transform: uppercase;
}
.team-click a:hover{
    background-color: var(--hover);
}
/*Styling af review sektionen*/
.reviews h2{
    text-align: center;
    margin-top: 1.5em;
    font-size: 1.3em;
    font-family: didot;
    text-transform: uppercase;
}
.reviews p{
    text-align: center;
    margin-top: 1.5em;
    font-style: italic;
}
.reviews h4{
    text-align: center;
    margin-top: 1.5em;
    padding-bottom: 2em;
}
.footer{
    background-color: var(--darkbeige);
    height: 8rem;
}
footer{
    width: 100%;
    height: 12rem;
    background-color: var(--darkbeige);
}
footer h3{
    font-size: 1.5em;
    padding-top: 1.5em;
    text-align: center;
    background-color: var(--darkbeige);
}
.info p{
text-align: center;
background-color: var(--darkbeige);
padding-top: 0.5em;
}
footer a{
    text-decoration: none;
    display: block;
    padding: 0.5em;
    text-align: center;
    color: rgb(07, 07, 07);
    background-color: var(--darkbeige);
}
@media only screen and (min-width: 660px){  
/*Her styles navbar til desktop*/
.navbar a{
float: left;
}
.links{
    float: right;
    margin-right: 2em;
}
/*Grid til forside billedet og tekst*/
.bigimage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas: 
    "bigimage desktop-picture"
    "bigimg-text bigimg-text";
}
.bigimage{
    grid-area: bigimage;
}
.desktop-picture{
    display: block;
    grid-area: desktop-picture;
}
.bigimg-text{
    grid-area: bigimg-text;
}
/*Her styles howto sektionen i et grid*/
.howto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas: 
    "firstguide secondguide thirdguide fourthguide";
}
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "firstimg secondimg bw-first"
    "firstimg thirdimg bw-second";
}
.firstimg img{
    grid-area: firstimg;
}
.secondimg img{
    grid-area: secondimg;
}
.thirdimg img{
    grid-area: thirdimg;
}
.bw-first img {
    grid-area: hidden-img;
    max-width: 100%;
    display: block;
}
.bw-second img {
    grid-area: hidden-img;
    max-width: 100%;
    display: block;
}
/*Her tildeles områderne i grid*/
.firstguide{
    grid-area: firstguide;
}
.secondguide{
    grid-area: secondguide;
}
.thirdguide{
        grid-area: thirdguide;
}
.fourthguide{
    grid-area: fourthguide;
}
}